
*{
    padding: 0;
    margin: 0;
}
/* INICIO */
body{
    background-color: black;
}

.contenedor{
    width: 90%;
    margin:auto;
}
.contenido{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contenido img{
    width: 100%;
}
.contenedorMenu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.contenedorMenu a{
    
    color: white;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.menu{
    text-align: center;
    display: none;
    margin-top: 10px;
}
.fa-solid{
    color: white;
    font-size: 30px;
  
}
button{
    background-color: transparent;
    border: none;
}


.desplegable{
    margin-top: 10px;
    display: flex;
    display: none;
    background-color: rgba(112, 112, 112, 0.2);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border-radius: 15px;

    
    
}
.desplegable a{
    width: 100%;
    text-decoration: none;
    padding-bottom:10px;
    color: white;

}
.desplegable a:hover{
    color: red;
}

.desplegable div{
    border-bottom: 1px solid rgb(65, 64, 64);
    margin-bottom: 40px;
    padding-bottom:5px;
    margin-left: 10px;
    margin-right: 10px;
}


@media (max-width:500px){
    .contenedorMenu{
        display: none;
        
        
    }

    .desplegable{
        text-align: center;
    }
   
    
    .menu{
        display: block;
       
    }
    .contenedorMenu a{
        width: 100%;
       
    }
    
}