html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
}
/* INICIO */
body{
    background-color: black;
}

.contenedor{
    width: 90%;
    margin:auto;
}
.contenido{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contenido img{
    width: 100%;
}
.contenedorMenu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.inicio{
    color: red;
}



.desplegable{
    margin-top: 10px;
    display: flex;
    background-color: rgba(112, 112, 112, 0.2);
    flex-direction: column;
    flex-wrap: wrap;
    width:60%;
    max-width: 500px;
    text-align: center;
    border-radius: 15px;

    
    
}
.desplegable a{
    color: white;
    text-decoration: none;
    padding-bottom:10px;
    

}
.desplegable a:hover{
    color: red;
}

.desplegable div{
    border-bottom: 1px solid rgb(65, 64, 64);
    margin-bottom: 40px;
    padding-bottom:5px;
    margin-left: 10px;
    margin-right: 10px;
}

.imageneslogos{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    
}

.imagenesdojorojas{
    margin-bottom: 20px;
    width: 45%;
}

.igual{
    width: 100%;
    
}

.comentario{
     
     
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    width: 100%;
}
.titulo{
    color: rgb(255, 255, 255);
    font-size:20px ;
    text-align: center;
    margin-bottom: 20px;
}

.fotolema{
    margin-left: 10px;
    width: 250px;
    margin-bottom: 20px;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}
.titulo{
    margin-top: 30px;
}
.imagenlema{
    width: 100%;
    height: 250px;
}
.itemsl{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    
}
.contorno{
    border: 1px solid red;
    padding: 10px;
}

.botonessignificados{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}

.botonessign{
    width: 200px;
    margin: 10px;
    background-color: rgb(39, 39, 39);
}





/* SOY ALUMNO */
.popup{
    border-radius: 80px;
    background-color: rgb(36, 36, 36);
}
.contenedoralumno{
    width: 90%;
    max-width: 500px;
    
    margin: auto;
    margin-top: 100px;
    border: 1px solid red;
    border-radius: 20px;
}

.imagen{
    width: 100%;
    
}
.imagen img{
    width: 100%;
    border-radius: 20px;
}
.formulario{
    width: 100%;
}
form{
    width: 70%;
    margin: auto;
}
input{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px; 
    padding-top: 5px;
    padding-bottom: 5px;
    outline: 0;
    
}

.formulario h3{
    color: rgb(255, 0, 0);
    text-align: center;
}
h2{
    color: rgb(0, 195, 255);
    text-align: center;
    padding-top: 4px;
    font-size: 25px;

    
}

h2 a{
    
    text-decoration: none;
    color: rgb(0, 225, 255);
}
a:hover{
    color: red;
}
button{
    background-color: red;
    border: none;
    width: 100%;
    color: white;
    height: 30px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.redes{
    padding-top:20px;
    width: 100%;
    height: 70px;
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
}

.face{
    color: rgb(2, 94, 170);
    margin-left: 25px;
    
    
}
.f{
    
    color: white;
    margin-left: 5px;
    text-decoration: none;
}
.palabra{
    margin-top: 30px;
    margin-bottom: 30px;
}

h1{
    color: white;
    text-align: center;
    font-size: 30px;
    
}

.ubicacion{
    margin-top: 30px;
    margin-bottom:15px;
    color: red;
    text-align: center;
    font-size: 35px;
}
.centros{
    margin-top: 20px;
    display: flex;
   
    justify-content: center;
    flex-wrap: wrap;
}

.contenedorimagen{
    margin-left: 10px;
    margin-top: 20px;
    width: 300px;
    border: 1px solid red;
    padding: 5px;
}

.imagenesdelosdojos{
    
    width: 100%;
}
.clased{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 20px;
}



@media (max-width:500px){

    .contenedor{
         
        width:100%;
        
    }
    .contenedorMenu a{
        width: 55%;
        text-align: center;
    }
    .contenedoralumno{
        
        margin-top: 40%;
      
    }
}
