*{
    padding: 0;
    margin: 0;
}
/* INICIO */
body{
    background-color: black;
}

.contenedor{
    width: 90%;
    margin:auto;
}
.contenido{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contenido img{
    width: 100%;
}
.contenedorMenu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contenedorMenu a{
    color: white;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.inicio{
    color: red;
}


/* SOY ALUMNO */

.contenedoralumno{
    width: 70%;
    margin: auto;
    border: 2px solid red;
    border-radius: 20px;
}

.imagen{
    width: 100%;
    
}
.imagen img{
    width: 100%;
    border-radius: 20px;
}








@media (max-width:500px){

    .contenedor{
        padding-top: 50%;
        width:100%;
        
    }
    .contenedorMenu a{
        width: 55%;
        text-align: center;
    }
}
