*{
    padding: 0;
    margin: 0;
}
/* INICIO */
body{
    background-color: black;
}

.contenedor{
    width: 90%;
    margin:auto;
}
.contenido{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contenido img{
    width: 100%;
}
.contenedorMenu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contenedorMenu a{
    color: white;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.inicio{
    color: red;
}


/* SOY ALUMNO */

.contenedoralumno{
    width: 70%;
    margin: auto;
    border: 2px solid red;
    border-radius: 20px;
}

.imagen{
    width: 100%;
    
}
.imagen img{
    width: 100%;
    border-radius: 20px;
}
.formulario{
    width: 100%;
}
form{
    width: 70%;
    margin: auto;
}
input{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px; 
    padding:5px;
    outline: 0;
    
}

.formulario h3{
    color: rgb(255, 0, 0);
    text-align: center;
}
h2{
    color: rgb(0, 195, 255);
    text-align: center;
    padding-top: 5px;
    
}








@media (max-width:500px){

    .contenedor{
        padding-top: 50%;
        width:100%;
        
    }
    .contenedorMenu a{
        width: 55%;
        text-align: center;
    }
}
